<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="KeyBinding" type="PwBasicBot.Configs.KeyBindingSection, PwBasicBot" />
		<section name="TempAddress" type="PwBasicBot.Configs.TempAddressSection, PwBasicBot" />
		<section name="Macro" type="PwBasicBot.Configs.MacroSection, PwBasicBot" />
		<section name="TmpAdress" type="PwBasicBot.Configs.TmpAdressSection, PwBasicBot" />
	</configSections>
	<KeyBinding>
		<Bindings>
			<add Name="basicAttack" Key="0"/>
			<add Name="zenHeal" Key="0"/>
			<add Name="hpPotion" Key="0"/>
			<add Name="mpPotion" Key="0"/>
			<add Name="grabItems" Key="0"/>
			<add Name="cityPortal" Key="0"/>
			<add Name="fly" Key="0"/>
		</Bindings>
	</KeyBinding>
	<TempAddress>
		<Addresses>
			<add Name="exp" Address="0"/>
			<add Name="level" Address="0"/>
			<!--
			<add Name="cultivo" Address="3"/>
			<add Name="currentHp" Address="4"/>
			<add Name="maxHp" Address="5"/>
			<add Name="currentMp" Address="6"/>
			<add Name="maxMp" Address="7"/>
			<add Name="currentChi" Address="8"/>
			<add Name="maxChi" Address="9"/>
			<add Name="gold" Address="10"/>
			<add Name="isTargeting" Address="0x28E0DE68"/>
			<add Name="isTargetingNpc" Address="0x19CBBA5C"/>
			<add Name="isFlying" Address="11"/>
			<add Name="name" Address="12"/>
			-->
		</Addresses>
	</TempAddress>
	<Macro>
		<Macros>
			<add Type="attack" Timeout="1" MinMP="1" Key="1"/>
			<add Type="buff" Timeout="1" MinMP="1" Key="1"/>
		</Macros>
	</Macro>
	<TmpAdress>
		<Addresses>
			<add Name="exp" Address="1"/>
			<add Name="level" Address="1"/>
		</Addresses>
	</TmpAdress>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>